.formContenedorMobile {
  height: 100%;
  width: 100%;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 6px -3px rgb(61, 60, 60);
  -moz-box-shadow: 0 4px 6px -3px rgb(61, 60, 60);
  box-shadow: 0 4px 6px -3px rgb(61, 60, 60);
}

.contenedorDatosMobile {
  height: 1200px;
  width: 800px;
  background-color: white;
}

.contenedorMobile {
  width: 100%;
  height: 100%;
  background-color: #e5e7eb;
  margin-bottom: 50px;
}

.contenedorLogoEmpresaMobile {
  height: 250px;
  width: 250px;
  background-color: #e5e7eb;
  margin-bottom: 20px;
  margin-top: 10px;
}
